# Day 4 Data wrangling with Python - Exercises

## Exercise 1

#### Question 1
##### Import `pandas` as `pd` and `os` packages and numpy as `np`
##### Create a pandas Series object from a list of groceries below. Assign it to `shopping_series` variable and print it.
- milk
- eggs
- peppers
- cheese
- tomatoes

##### Create a Series object called `prices` that contains the following values: [2.5, 3.99, 1.95, 5.99, 1.29].
##### Create a Series object called `num_items` that contains the following values: [1, 1, 2, 1, 3].
##### Combine the three Series objects described above into a single DataFrame called `shopping_cart` naming the columns like so:
- `item_name`
- `item_price`
- `item_quantity`

##### Print the first few entries (i.e. the `head` of the DataFrame).

#### Answer:

#### Question 2
##### Check the following characteristics of the `shopping_cart` object:
- Type
- Shape
- Show columns of the DataFrame
- Show information of the DataFrame
- Describe the DataFrame

##### How many columns are described in the last output? Why do you think that's the case?
##### What is the 75th percentile of the column `item_price`?
##### What is the standard deviation of the column `item_quantity`?

#### Answer:

#### Question 3
##### Perform the following on `shopping_cart` DataFrame:
- Extract column `item_price`
- Extract columns `item_name` and`item_quantity`
- Extract the 3rd row

#### Answer:

#### Question 4
##### Set index of `shopping_cart` DataFrame to `item_name`. Print the updated DataFrame.
##### Print only the index of the `shopping_cart` DataFrame.
##### Look up the row of the `shopping_cart` by using index value 'eggs'.
##### Reset index of the `shopping_cart`. Print the updated DataFrame.

#### Answer:

#### Question 5
##### Set the working directory to data directory.
##### Print the working directory.

#### Answer:

#### Question 6
##### Read in 'TB_data.csv' into a variable called `tb_data` using pandas.
##### Print the first 20 rows of the DataFrame.

#### Answer:

#### Question 7
##### Perform the following actions on `tb_data` object:
- Check the type of the object
- Get the shape of the object and save it to 2 variables and print both:
    - `nrows`
    - `ncols`

#### Answer:

#### Question 8
##### Use sample function to:
    - print 3 random rows in tb_data
    - print 0.1% random rows in tb_data

#### Answer:

#### Question 9
##### Inspect tb_data with the following information:
    - columns
    - data types
    - info
    - statical summary (describe)

#### Answer:

## Exercise 2

#### Question 1
##### Split the data to be grouped by age group. 
##### Group by the column `age_group` and assign it to a dataframe named `grouped_df`.

#### Answer:

#### Question 2
##### Use the summary functions to get the mean number of `best` for all the age groups you just grouped in `grouped_df`.
##### Assign the output to a dataframe called `age_best` and print that dataframe to the console.

#### Answer:

#### Question 3
##### Use the summary functions to get the max number of `lo` for all the age groups grouped by the column `age_group`.
##### Assign the output to a dataframe called `age_low` and print that dataframe to the console.
##### Make sure all values are rounded to the next integer.

#### Answer:

#### Question 4
##### Sort the values of `age_lo` in descending order

#### Answer:

#### Question 5
##### Filter the values of `age_best` for values of `best` that are above 10000.

#### Answer:

#### Question 6
##### In `age_best`, create a new boolean column (containing values True or False) called `high` 
##### that indicates whether a row has a value for `best` that is higher than 10000.

#### Answer:

## Exercise 3

#### Question 1
##### Subset `tb_data`, so that the new dataframe only contains the columns `best`, `lo`, and `hi`
##### Call the new dataframe `tb_subset`

#### Answer:

#### Question 2
##### Check the count of missing values NAs by columns.

#### Answer:

#### Question 3
##### We just saw that there are NAs in our data.
##### Impute missing values using the mean of the column.

#### Answer:

#### Question 4
##### Let us convert `best` to a categorical variable with two levels.
##### Convert values in `best` below 5000 to `low` and above or equal to 5000 to `high`.

#### Answer:

#### Question 5
##### Check the type of the variable `best` and convert it to boolean, so that it has the value `True` for `high` and `False` for `low`

#### Answer:

#### Question 6
##### Group `tb_subset` by variable `best`. Save as `tb_grouped`.
##### Convert `tb_grouped` to a wide dataframe by taking mean of `tb_grouped` and specifying the variables `lo` and `hi`.
##### Print results.
##### Reset the index of `tb_grouped_mean` and print results again.

#### Answer:

#### Question 7
##### Change the dataframe `tb_grouped_mean` to be a long dataframe.
##### The resulting column names should be `best`, `type` (contains the column names of the wide dataframe), and `value` (containts the values from the wide dataframe).
##### Name the resulting dataframe `tb_subset_long`.

#### Answer: