# Day 4 Data wrangling with Python - Exercises with answers

## Exercise 1

#### Question 1
##### Load packages os, pandas and numpy.
##### Set the working directory to data directory.
##### Print the working directory.

#### Answer:

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
# Set `main_dir` to the location of your `skill-soft` folder (for Linux).
main_dir = "/home/[username]/Desktop/skill-soft"
# Windows only.
main_dir = "C:/Users/[user_name]/Desktop/skill-soft"
# Mac only.
main_dir = "/Users/[username]/Desktop/skill-soft"

data_dir = main_dir + "/data/"

In [ ]:
# Set working directory.
os.chdir(data_dir)

In [ ]:
# Check working directory.
print(os.getcwd())

#### Question 2
##### Read in 'TB_data.csv' into a variable called `tb_data` using pandas.
##### Print the first 20 rows of the DataFrame.

#### Answer:

In [ ]:
tb_data = pd.read_csv('TB_data.csv')
print(tb_data.head(20))

#### Question 3
##### Perform the following actions on `tb_data` object:
- Check the type of the object
- Get the shape of the object and save it to 2 variables and print both:
    - `nrows`
    - `ncols`

#### Answer:

In [ ]:
print(type(tb_data))

In [ ]:
nrows, ncols = tb_data.shape
print(nrows)
print(ncols)

#### Question 4
##### Use sample function to:
    - print first 5 rows in tb_data
    - print 3 random rows in tb_data
    - print 0.1% random rows in tb_data

#### Answer:

In [ ]:
print(tb_data.head(5)) #<- pulls the first 3 rows

In [ ]:
print(tb_data.sample(n = 3))

In [ ]:
print(tb_data.sample(frac = 0.001))

#### Question 5
##### Inspect tb_data with the following information:
    - columns
    - data types
    - info
    - statistical summary (describe)

#### Answer:

In [ ]:
tb_data.columns

In [ ]:
tb_data.dtypes

In [ ]:
tb_data.info()

In [ ]:
tb_data.describe()

##### Note: We do not have any specific ID variable we can use as an index.

## Exercise 2

#### Question 1
##### Split the data to be grouped by age group. 
##### Group by the column `age_group` and assign it to a dataframe named `grouped_df`.

#### Answer:

In [ ]:
grouped_df = tb_data.groupby('age_group')

#### Question 2
##### Use the summary functions to get the mean number of `best` for all the age groups you just grouped in `grouped_df`.
##### Assign the output to a dataframe called `age_best` and print that dataframe to the console.

#### Answer:

In [ ]:
age_best = grouped_df.mean()[['best']]
print(age_best)

#### Question 3
##### Use the summary functions to get the max number of `lo` for all the age groups grouped by the column `age_group`.
##### Assign the output to a dataframe called `age_low` and print that dataframe to the console.
##### Make sure all values are rounded to the next integer.

#### Answer:

In [ ]:
#age_lo = round(grouped_df.max()[['lo']],0)
age_lo = round(tb_data.groupby('age_group').mean()[['lo']],0)
print(age_lo)

#### Question 4
##### Sort the values of `age_lo` in descending order

#### Answer:

In [ ]:
age_lo.sort_values('lo',ascending=False)

#### Question 5
##### Filter the values of `age_best` for values of `best` that are above 10000.

#### Answer:

In [ ]:
age_best.query('best > 10000')

#### Question 6
##### In `age_best`, create a new boolean column (containing values True or False) called `high` 
##### that indicates whether a row has a value for `best` that is higher than 10000.

#### Answer:

In [ ]:
age_best['high'] = age_best['best'] > 10000
print(age_best)

## Exercise 3

#### Question 1
##### Subset `tb_data`, so that the new dataframe only contains the columns `best`, `lo`, and `hi`
##### Call the new dataframe `tb_subset`

#### Answer:

In [ ]:
tb_subset = tb_data.loc[:,['best', 'lo', 'hi']]

In [ ]:
print(tb_subset.head())

#### Question 2
##### Check the count of missing values NAs by columns.

#### Answer:

In [ ]:
tb_subset.isnull().sum()

#### Question 3
##### We just saw that there are NAs in our data.
##### Impute missing values using the mean of the column.

#### Answer:

In [ ]:
tb_subset= tb_subset.fillna(tb_subset.mean())
tb_subset.isnull().sum()

#### Question 4
##### Let us convert `best` to a categorical variable with two levels.
##### Convert values in `best` below 5000 to `low` and above or equal to 5000 to `high`.

#### Answer:

In [ ]:
tb_subset['best'] = np.where(tb_subset['best'] < 5000, 'low', 'high')
tb_subset.head()

#### Question 5
##### Check the type of the variable `best` and convert it to boolean, so that it has the value `True` for `high` and `False` for `low`

#### Answer:

In [ ]:
tb_subset.dtypes

In [ ]:
tb_subset['best'] = np.where(tb_subset['best'] == 'high', True, False)

In [ ]:
tb_subset.dtypes

#### Question 6
##### Group `tb_subset` by variable `best`. Save as `tb_grouped`.
##### Convert `tb_grouped` to a wide dataframe by taking mean of `tb_grouped` and specifying the variables `lo` and `hi`.
##### Print results.
##### Reset the index of `tb_grouped_mean` and print results again.

#### Answer:

In [ ]:
# Group data by `Target` variable.
tb_grouped = tb_subset.groupby('best')

In [ ]:
# Compute mean on the listed variables using the grouped data.
tb_grouped_mean = tb_grouped.mean()[['lo', 'hi']]
print(tb_grouped_mean)

In [ ]:
# Reset index of the dataset.
tb_grouped_mean = tb_grouped_mean.reset_index()
print(tb_grouped_mean)

#### Question 7
##### Change the dataframe `tb_grouped_mean` to be a long dataframe.
##### The resulting column names should be `best`, `type` (contains the column names of the wide dataframe), and `value` (containts the values from the wide dataframe).
##### Name the resulting dataframe `tb_subset_long`.

#### Answer:

In [ ]:
tb_subset_long = pd.melt(tb_grouped_mean,                       #<- wide dataset
                                 id_vars = ['best'],     #<- identifying variable
                                  var_name = 'type',      #<- contains col names of wide data
                                  value_name = 'value')   #<- contains values from above columns
print(tb_subset_long)